@import "tailwindcss";

:root {
  --background: #ffffff;
  --input-background: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: black;
  background-color: var(--input-background);
}

button {
  padding: 1rem 1rem;
  background-color: #9b9b9b;
  cursor: pointer;
}